---
import Main from '$layouts/Main.astro'
import { directus } from '$src/directus'

let error = null
const data = await directus
  .items('resource')
  .readByQuery()
  .catch((err) => (error = err))
---

<Main>
  <pre>{JSON.stringify(err || data, null, 2)}</pre>
</Main>
