---
import Main from '$layouts/Main.astro'
import { directus } from '$src/directus'

const data = await directus.items('resource').readByQuery()
---

<Main>
  <pre>{JSON.stringify(data, null, 2)}</pre>
</Main>
