---
import { Menu } from '$lib/hexagon/Menu'
import Main from '$src/layouts/Main.astro'
---

<Main>
  <div class='drop-shadow-none grid place-items-center h-screen'>
    <Menu size={100} client:load />
  </div>
</Main>
