---
import { Menu } from '$lib/menu/index'
import Main from '$src/layouts/Main.astro'
---

<Main>
  <div class='drop-shadow-none grid place-items-center'>
    <Menu size={400} client:visible />
  </div>
</Main>
