---
import { directus } from '$src/directus'
import type { Flow, Resource } from '$src/types'
import { ResourceCard } from '$lib/resources/ResourceCard'

const expendFields = {
  requestOptions: { params: { fields: ['*.*', 'files.directus_files_id.*'] } },
}

const { data: resources } = await directus
  .items('resource')
  .readByQuery({ limit: -1 }, expendFields)

const { data: flows } = await directus
  .items('flow')
  .readByQuery({ limit: -1 }, expendFields)
---

<div class='max-w-3xl px-2 pb-16 mx-auto'>
  {
    resources && flows && (
      <ResourceCard
        client:load
        resourceId={1}
        resources={resources as Resource[]}
        flows={flows as Flow[]}
      />
    )
  }
</div>
