---
import '@fontsource/dosis'
import Header from './Header.astro'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/img/logo-256.png' />
    <meta name='generator' content={Astro.generator} />
    <title>Dubs apiculture</title>
  </head>
  <body class='overflow-x-hidden w-screen'>
    <Header />
    <main class='min-h-screen pt-[72px] overflow-x-hidden'>
      <img
        src='/img/logo-borderless.png'
        alt='Logo dubs-apiculture'
        class='fixed top-1/2 left-0 rotate-12 max-h-[75%] -translate-y-1/2 -translate-x-1/3 opacity-20'
      />

      <slot />
    </main>
  </body>
</html>
