---
import '@fontsource/comic-neue'
import logo from '$public/img/logo-borderless.png'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/img/logo-256.png' />
    <meta name='generator' content={Astro.generator} />
    <title>Dubs apiculture</title>
  </head>
  <body>
    <!-- <Header /> -->
    <main class='min-h-screen bg-primary-light'>
      <img
        src={logo}
        alt='Logo dubs-apiculture'
        class='absolute opacity-10 -left-1/3 rotate-12'
      />
      <slot />
    </main>
  </body>
</html>
